.container__row--grid {
    display: grid;
    grid-template-columns: 40px 2fr 40px;
    margin: 5px;
}

.delete__button {
    margin: 0, 5px;
    padding: 10px;
    background-color: red;
    border: none;
    color: white;
    transition: 1s;
}
.delete__button:hover {
    transform: scale(1.1);
}

.toggle__button {
    margin: 0, 5px;
    padding: 10px;
    background-color: green;
    border: none;
    color: white;
    transition: 1s;
}
.toggle__button:hover {
    transform: scale(1.1);
}
.task__list {
    padding: 10px;
}

.task__hiden {
    display: none;
}